@import '~styles/mixins.scss';

.main__container {
    @include flex-column();
    color: $fontColorWhite;
    font-size: 16px;
    font-family: "Open Sans", "Trebuchet MS", Helvetica, Helvetica Neue, Arial, sans-serif;
    margin: 0 auto;
    max-width: 900px;
    border: 1px solid $borderColor;
    background-color: $bodyColorWhite;
}

.main__body {
    @include flex-row();
}

.main__footer {
    background: url('/img/footer.jpg') no-repeat;
    height: 20px;
}

.main__loaded_container {
    @include flex-block();
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    min-height: 300px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    margin: 10px;
    background: #fff;
}