@import '~styles/mixins.scss';

.news {

    &__item {
        margin: 15px 0;
        padding-bottom: 25px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }

    &__title {
        color: $fontColorWhite;
    }

    &__description {
        line-height: 1.7;
        font-size: 1em;
        margin: 10px 0px 15px;
        word-break: break-word;
    }

    &__by {
        @include flex-row();
        margin-bottom: 10px;
        align-items: center;
        font-size: 0.85rem;
        font-weight: 500;
    }

    &__date {
        color: $fontColorGray;
    }

    &__chat {
        display: flex;
        align-items: flex-end;
        margin-left: auto;

        &::before {
            display: inline-block;
            content: '';
            background: url('/icons/chat.svg') no-repeat center/cover;
            $size: 18px;
            height: $size;
            width: $size;
            margin-right: 5px;
        }

        &_red {
            margin-left: 3px;
            color: #bd3939;
        }
    }
}

.news-author {
    @include flex-row();
    align-items: center;
    color: $btnColor;
    margin-right: 6px;

    &__image {
        height: 20px;
        width: 20px;
        margin-right: 6px;
        border-radius: 4px;
    }
}

.news-image {
    $imageSize: 330px;
    
    display: flex;
    justify-content: center;
    background-color: $bodyColor;
    height: $imageSize;
    border-radius: 4px;
    transition: box-shadow $transition;
    box-shadow: $shadow;

    &__item {
        height: $imageSize;
        cursor: pointer;
        transition: transform $transition, border-radius $transition, box-shadow $transition;
        border-radius: 4px;
        box-shadow: $shadow;
        transform: scale(1.05);
    }
}

.news-loaded {
    display: flex;
    justify-content: center;

    &__btn {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.1);
        color: rgba(255, 255, 255, 0.4);
        font-weight: bold;
        height: 40px;
        font-size: 16px;
        border-radius: 2px;
        padding: 0 15px;
        transition: color $transition;

        &:hover {
            color: $fontColorWhite;
        }

        &,
        &:focus {
            border: none;
            outline: none;
        }
    }
}