@import '~styles/mixins.scss';

.update-info {
    $parent: &;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: $bodyColor;
    margin-right: 5px;
    position: relative;
    left: 55px;
    opacity: 0;
    z-index: 1;
    transition: left $transition, opacity $transition;

    &_active {
        left: 0;
        opacity: 1;
    }

    &:hover &__img {
        cursor: pointer;
        filter: invert(0.2) sepia(0) brightness(2) saturate(0);
    }

    &:hover &__btn {
        color: $fontColorWhite;
    }

    &__img {
        $size: 24px;
        display: block;
        content: '';
        height: $size;
        width: $size;
        transition: filter $transition, transform $transition;
        filter: invert(0) sepia(0) brightness(1.7) saturate(0);
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: $fontColorGray;
        background-color: $bodyColor;
        padding: 0;
        outline: none;
        border: none;
        border-radius: 2px;
        font-size: 16px;
        font-weight: 500;
        font-family: $fontFamily;
        transition: color $transition, background-color $transition, opacity $transition;
        cursor: pointer;
        z-index: 9;
    }
}