$fontColor: #333333;
$fontColorWhite: #9da5b4;
$disabledColor: #9EA4AC;
$borderColor: #181a1f;
$borderColorWhite: #24292e80;
$bodyColor: #24292e;
$bodyColorWhite: #31363f;
$btnColor: #2589DE;
$btnColorHover: #0056b3;
$linkColor: #3B95E2;
$shadowColor: #d1d1d1;
$transition: 0.3s ease-in-out;
$errorColor: #ba3f3f;
$white: #fff;