// font
$fontColor: #aeb3b7;
$fontColorWhite: #ced4da;
$fontColorGray: #ffffff66;
$fontFamily: "Open Sans", "Trebuchet MS", Helvetica, Helvetica Neue, Arial, sans-serif;
$fontFamilyHeader: "Montserrat", "Trebuchet MS", Helvetica, "Helvetica Neue", Arial, sans-serif;

// border
$borderColor: #181a1f;
$borderColorWhite: #24292e80;

// body - content
$bodyColor: #191919;
$contentColor: #262b2e;

// button
$btnColor: #2589DE;
$btnColorHover: #0056b3;
$linkColor: #3B95E2;
$linkColorHover: #0096cf;

$disabledColor: #9EA4AC;
$errorColor: #ba3f3f;

$shadow: 0px 0px 5px 0px #5a5d6a, 0px 0px 6px 0px #5a5a5a4d;
$transition: 0.3s ease-in-out;